body {
    font-family: sans-serif;
    width: 100vw;
    overflow-x: hidden;
}

img {
    width: 300px;
    height: 450px;
    object-fit: cover;
    border-radius: 20px;
    margin-right: 20px;
}

span {
    margin-right: 20px;
}

.container {
    display: flex;
    margin: 40px;
    align-items: center;
}

.header {
    color: white;
    background-color: #F34F51;
    padding: 20px;
    margin-bottom: 50px;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}